h1 {
    text-align: center;
}


.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-container{
    width : 450px;
    height: 500px;
    border : 2px solid grey;
    background-color: grey;
    border-radius: 2%;
}

.display-container{
    border: 5px solid black;
    height : 80px;
    margin : 5px;
    background-color: #E3DFDE;
}

.button-container{
    display : flex;
    flex-direction: column;
    height: 400px;
    gap : 2px;
}

.btn-row{
    flex : 1;
    margin : 2px 5px;

    display: flex;
    gap : 4px;
}

.btns{
    border: 2px solid black;
    flex : 1;
    border-radius: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.operations{
    background-color: #1ac6ff;
}

p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}
.numbers{
    background-color: #339966;
}

#zero{
    flex : 2 1 auto;
}



